In [1]:
!pip install selenium

^C

In [32]:
from selenium import webdriver
from selenium.webdriver.common.keys import Keys


navegador = webdriver.Chrome()


# Passo 1 : Pegar cotação do Dolar

# Entra no Google 
navegador.get('https://www.google.com/')
navegador.find_element('xpath', '/html/body/div[1]/div[3]/form/div[1]/div[1]/div[1]/div/div[2]/input').send_keys('cotação dólar')
navegador.find_element('xpath', '/html/body/div[1]/div[3]/form/div[1]/div[1]/div[1]/div/div[2]/input').send_keys(Keys.ENTER)
cotacao_dolar = navegador.find_element('xpath','//*[@id="knowledge-currency__updatable-data-column"]/div[1]/div[2]/span[1]').get_attribute('data-value')
print(cotacao_dolar)


# Passo 2 : Pegar a cotação do Euro 
navegador.get('https://www.google.com/')
navegador.find_element('xpath', '/html/body/div[1]/div[3]/form/div[1]/div[1]/div[1]/div/div[2]/input').send_keys('cotação euro')
navegador.find_element('xpath', '/html/body/div[1]/div[3]/form/div[1]/div[1]/div[1]/div/div[2]/input').send_keys(Keys.ENTER)
cotacao_euro = navegador.find_element('xpath','//*[@id="knowledge-currency__updatable-data-column"]/div[1]/div[2]/span[1]').get_attribute('data-value')
print(cotacao_euro)

# Passo 3 : Cotação do ouro 
navegador.get('https://www.melhorcambio.com/ouro-hoje')
cotacao_ouro = navegador.find_element('xpath', '//*[@id="comercial"]').get_attribute('value')
cotacao_ouro = cotacao_ouro.replace(',', '.')
print(cotacao_ouro)
navegador.quit()

5.0877
5.5076540210000005
314.83

In [33]:
# Passo 4 : Importa a base de dados 
import pandas as pd 

tabela = pd.read_excel('Produtos.xlsx')
display(tabela)

,Produtos,Preço Original,Moeda,Cotação,Preço de Compra,Margem,Preço de Venda
0,Câmera Canon,999.99,Dólar,5,4999.95,1.40,6999.930
1,Carro Renault,4500.00,Euro,6,27000.00,2.00,54000.000
2,Notebook Dell,899.99,Dólar,5,4499.95,1.70,7649.915
3,IPhone,799.00,Dólar,5,3995.00,1.70,6791.500
4,Carro Fiat,3000.00,Euro,6,18000.00,1.90,34200.000
5,Celular Xiaomi,480.48,Dólar,5,2402.40,2.00,4804.800
6,Joia 20g,20.00,Ouro,350,7000.00,1.15,8050.000

In [34]:
# Passo 5 : Recalcular os preços 

# Atualizando os Valores 

tabela.loc[tabela['Moeda'] == 'Dólar', 'Cotação'] = float(cotacao_dolar)
tabela.loc[tabela['Moeda'] == 'Euro', 'Cotação'] = float(cotacao_euro)
tabela.loc[tabela['Moeda'] == 'Ouro', 'Cotação'] = float(cotacao_ouro)

tabela['Preço de Compra'] = tabela ['Cotação'] * tabela['Preço Original']
tabela['Preço de Venda'] = tabela['Preço de Compra'] * tabela['Margem']

display(tabela)

,Produtos,Preço Original,Moeda,Cotação,Preço de Compra,Margem,Preço de Venda
0,Câmera Canon,999.99,Dólar,5.087700,5087.649123,1.40,7122.708772
1,Carro Renault,4500.00,Euro,5.507654,24784.443095,2.00,49568.886189
2,Notebook Dell,899.99,Dólar,5.087700,4578.879123,1.70,7784.094509
3,IPhone,799.00,Dólar,5.087700,4065.072300,1.70,6910.622910
4,Carro Fiat,3000.00,Euro,5.507654,16522.962063,1.90,31393.627920
5,Celular Xiaomi,480.48,Dólar,5.087700,2444.538096,2.00,4889.076192
6,Joia 20g,20.00,Ouro,314.830000,6296.600000,1.15,7241.090000

In [35]:
# Passo 6 : Exporta Base de dados

tabela.to_excel('Produtos Novo.xlsx')

PermissionError: [Errno 13] Permission denied: 'Produtos Novo.xlsx'